google-map {
  display: block;
  height: 80vh;
  position: relative;
  width: 100%;

  .full-bleed {
    display: block;
    height: 100%;
    width: 100%;
  }

  &.full-bleed {
    display: block;
    height: 100vh;
    width: 100%;
  }
  &.no-fixed {
    .fixed-position {
      position: relative;
    }
  }
}

.fixed-position {
  position: fixed;
}

.selections {
  background-color: #EAE8EA;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  left: 0;
  position: absolute;
  top: 62px;
  width: 380px;
  z-index: 10;
}

.container-parent {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.attraction-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 20px;
  width: 380px;

  &:hover {
    background-color: darken(white, 20%);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.active {
    background-color: white;
  }

  .desc {
    margin-bottom: 4px;
  }

  .category-pill {
    background-color: #417505;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 18px;
    margin: 0 4px 0 0;
    padding: 0 10px 0 10px;
    vertical-align: middle;
  }

}

.sub-navigation {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 10px 16px 10px 16px;
  position: fixed;
  right: 10px;
  top: 72px;
  width: 160px;
  z-index: 10;
}

.custom-control-category {
  font-size: 13px;
}

.custom-control {
  display: block;
  width: 100%;
}

.minimal-checkbox {

  .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #fff;
    background-image: url("../images/_icons/checkmark.png");
  }

  .custom-control-input:focus ~ .custom-control-indicator {
    // the mixin is not used here to make sure there is feedback
    box-shadow: none;
  }

  .custom-control-input:indeterminate ~ .custom-control-indicator {
    background-color: #fff;
  }

  .custom-control-indicator {
    background-color: #fff;
  }
}
