google-map {
  display: block;
  height: 80vh;
  position: relative;
  width: 100%;

  .full-bleed {
    display: block;
    height: 100%;
    width: 100%;
  }

  &.full-bleed {
    display: block;
    height: 100vh;
    width: 100%;
  }
  &.no-fixed {
    .fixed-position {
      position: relative;
    }
  }
}

.fixed-position {
  position: fixed;
}

.selections {
  background-color: #EAE8EA;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  left: 0;
  position: absolute;
  top: 57px;
  width: 380px;
  z-index: 10;
  padding-bottom: 100px;
  min-height: 100%;
}

.selections::after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  position: fixed;
  content: '';
  width: 380px;
  left: 0;
  bottom:0;
  height: 72px;
  z-index:1000;
}
.container-parent {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.attraction-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 20px;
  width: 380px;

  &:hover {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.stamp {
    background-color: white;
    &:hover {
      background-color: white;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
  }



  .desc {
    margin-bottom: 4px;
  }

  .category-pill {
    background-color: #417505;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 18px;
    margin: 0 4px 0 0;
    padding: 0 10px 0 10px;
    vertical-align: middle;
  }

}
place-item {
  &.active {
    .Fattraction-list {
      background-color: darken(white, 25%);
    }
  }
}

.sub-navigation {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 10px 16px 10px 16px;
  position: fixed;
  right: 10px;
  top: 72px;
  width: 160px;
  z-index: 10;
}

.custom-control-category {
  font-size: 13px;
}

.custom-control {
  display: block;
  width: 100%;
}

.minimal-checkbox {

  .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #fff;
    background-image: url("../images/_icons/checkmark.png");
  }

  .custom-control-input:focus ~ .custom-control-indicator {
    // the mixin is not used here to make sure there is feedback
    box-shadow: none;
  }

  .custom-control-input:indeterminate ~ .custom-control-indicator {
    background-color: #fff;
  }

  .custom-control-indicator {
    background-color: #fff;
  }
}
