.navbar-brand{
	-webkit-font-smoothing: antialiased;
	font-family: 'Times New Roman', serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	padding-top: 11px;
}

.nav-item{
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}

body{
	background-color: #EAE8EA !important;
}

h5{
	-webkit-font-smoothing: antialiased;
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-size: 24px;
}

h6{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}


a{
	color: #417505;
	font-weight: bold;
}

a:hover{
	color: #417505;
}

sup{
	text-transform: lowercase;
}

p, li{
	font-size: 13px;
	color: rgba(0,0,0,0.85);
}

li{
	list-style: none;
	margin-bottom: 4px;
}



.column-list{
	p{
		margin-bottom: 5px;
	}

	ul{
		padding: 0;
	}

	hr{
		margin: 12px 0 12px 0;
	}
}


.introduction {
	h4{
		-webkit-font-smoothing: antialiased;
		font-family: 'Times New Roman', serif;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: 32px;
	}

	p{
		position: relative;

		span{
		    position: relative;
		    font-size: 10px;
		    vertical-align: middle;
		}
	}
}

.itinerary {
	.col-2{
		font-weight: bold;
		font-size: 13px;
		text-align: right;
	}

	.col-10{

		.attire{
			margin-bottom: 0;
		}
	}
}

.selections {
  h4 {
    -webkit-font-smoothing: antialiased;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 32px;
  }
}

.credit{
		margin-bottom: 0;
}

.footer{
	font-size: 10px;
}
