// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "./_typography.scss";
@import "./_google-map.scss";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.footer{
  border-top: 1px solid rgba(0,0,0,0.15);
}

.divider {
  position: relative;
  &::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,.15);
  }
}

.cover-img{
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: center center;
  padding-top: 80px;
  text-align: center;
  color: #fff;
}

.home-img{
  background-image: url("../images/home.jpg");
}

.visit-img{
  background-image: url("../images/visit.jpg");
}

.photo-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#photo-4{
  margin-top: -15%;
}

#photo-7{
  background-image: url("../images/photo-7.jpg");
}

#photo-9{
  background-image: url("../images/photo-9.jpg");
}

// VISIT FILTER ACTIVITIES STYLES
place-item  {
  position: relative;
  display: block;
  background: #ccc;
  min-height:100px;
}


// GOOGLE MAP

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
