<google-map class="full-bleed" selected="$ctrl.currentMarker" data="$ctrl.filteredPlacesList">
  <div class="sub-navigation">
    <filter-buttons data="filterItem" output="$ctrl.output(active)" ng-repeat="filterItem in $ctrl.filterList"></filter-buttons>
  </div>
  <div class="selections">
    <place-item data="item"  selected="$ctrl.selected(name)" ng-repeat="item in $ctrl.filteredPlacesList"></place-item>
  </div>
</google-map>
<div class="modal-new" ng-if="$ctrl.modal">
  <button ng-click="$ctrl.modal = false;">x</button>
  <p>Im a modal</p>
</div>
